.phone-btn {
  padding: 0.8em 1.8em;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  font-size: 1em;
}

.phone-btn:hover {
  background-color: var(--secondary-color);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#iphone-tab:checked ~ .button-options label[for="iphone-tab"],
#samsung-tab:checked ~ .button-options label[for="samsung-tab"],
#google-tab:checked ~ .button-options label[for="google-tab"] {
  background-color: var(--accent-color);
}